{% extends "base.html" %}
{% block title %}About - Archives World Map{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="text-center" style="margin-bottom: 24px;">
            <img src="{{ url_for('static', filename='img/LogoArchivesMap.png') }}" alt="Archives World Map" style="max-width: 400px; width: 100%;">
        </div>
        <h2 data-i18n="about_title">About Archives World Map</h2>
        <p data-i18n="about_text_1">Archives World Map is a geospatial collaborative platform for cataloging public archive institutions worldwide.</p>
        <p data-i18n="about_text_2">Anyone can contribute by adding institutions to the map. Submissions are reviewed before being published.</p>
        <hr>
        <p data-i18n-html="about_cridi">After being created and maintained for several years within the <a href="https://www.cridi.ici.ufba.br" target="_blank">CRIDI</a> research group, Archives World Map is now being updated and maintained within the <a href="https://labhd.ufba.br" target="_blank">Laboratory of Digital Humanities of UFBA (LABHDUFBA)</a>.</p>
        <p data-i18n-html="about_maintainer">Created and maintained by <a href="https://feudo.org" target="_blank">Ricardo Sodré Andrade</a>.</p>
        <p><small data-i18n-html="about_source">Free software under the <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">AGPL-3.0</a> license. Source code on <a href="https://github.com/rsandrade/archives-worldmap" target="_blank">GitHub</a>.</small></p>
    </div>
</div>
{% endblock %}
